/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

body{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0;
    padding:0;
    color:#003459;
}

.nav{
    margin: 0;
    padding:0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    height:100%;

}
#LOGO{
    background:url(../img/logo.png);
    height: 3rem;
    width: 5rem;
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: 1%;
    margin-top: 0.5%;
    padding: 0;
}

#nav-btn-checkbox{
    display: none;
}
.menu{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    list-style: none;
    position: absolute;
    right:5%;
}
.menu a{
    text-decoration: none;
    color:inherit;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}
.about-us{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin:0;
    padding:4%;
}
.about-us h1{
        -ms-flex-item-align: center;
            -ms-grid-row-align: center;
            align-self: center;
}

.footer{
    margin:0;
    padding:0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    height: 100%;
    width: 100%;
    color:white;
    background-color: #003459;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}