body{
    display: flex;
    flex-direction: column;
    margin: 0;
    padding:0;
    color:#003459;
}

.nav{
    margin: 0;
    padding:0;
    display: flex;
    flex-direction: row;
    height:100%;

}
#LOGO{
    background:url(../img/logo.png);
    height: 3rem;
    width: 5rem;
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: 1%;
    margin-top: 0.5%;
    padding: 0;
}

#nav-btn-checkbox{
    display: none;
}
.menu{
    display: flex;
    flex-direction: row;
    list-style: none;
    position: absolute;
    right:5%;
}
.menu a{
    text-decoration: none;
    color:inherit;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}
.about-us{
    display: flex;
    flex-direction: column;
    margin:0;
    padding:4%;
}
.about-us h1{
        align-self: center;
}

.footer{
    margin:0;
    padding:0;
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    color:white;
    background-color: #003459;
    justify-content: center;
}
