/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

body{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0;
    padding:0;
    color:#003459;
}

.nav{
    margin: 0;
    padding:0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    height:100%;
}

#LOGO{
    background:url(../img/logo.png);
    height: 3rem;
    width: 5rem;
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: 1%;
    margin-top: 0.5%;
    padding: 0;
}

#nav-btn-checkbox{
    display: none;
}
.menu{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    list-style: none;
    position: fixed;
    right:5%;
}
.menu a{
    text-decoration: none;
    color:inherit;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}
.about-us{
    display:-ms-grid;
    display:grid;
    -ms-grid-columns: 50% 50%;
    grid-template-columns: 50% 50%;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
    margin:0;
    padding:0;
    height: 100%;

}
.about-us > *:nth-child(1){
    -ms-grid-row: 1;
    -ms-grid-column: 1;
}
.about-us > *:nth-child(2){
    -ms-grid-row: 1;
    -ms-grid-column: 2;
}
.about-us div:first-child{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: 4vh;
    -webkit-transform: translate(50%,0);
        -ms-transform: translate(50%,0);
            transform: translate(50%,0);
    -webkit-transition: all ease-in-out 2s;
    -o-transition: all ease-in-out 2s;
    transition: all ease-in-out 2s;
}
.about-us div:last-child{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 2%;
    background: #003459;
    color: white;
    -webkit-transform: translate(-50%,0);
        -ms-transform: translate(-50%,0);
            transform: translate(-50%,0);
    -webkit-transition: all ease-in-out 2s;
    -o-transition: all ease-in-out 2s;
    transition: all ease-in-out 2s;
}
.about-us div:last-child:hover{
    background: white;
    color: #003459;
}
.about-us h1{
        -ms-flex-item-align: center;
            -ms-grid-row-align: center;
            align-self: center;
}

.footer{
    margin-top:5vh;
    padding:0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100%;
    width: 98%;
    padding-left: 1%;
    padding-right: 1%;
    color:white;
    background-color: #003459;

}

.footer p{
    font-size: small;
}
@media (max-width:700px){
    #details-div{
        padding:5%;
    }
    .about-us{
        display:-webkit-box;
        display:-ms-flexbox;
        display:flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        margin:0;
        padding:0;
        height: 100%;
    }
    .about-us div:first-child{
        -webkit-transform: translate(0,0);
            -ms-transform: translate(0,0);
                transform: translate(0,0);
        -webkit-transition: all ease-in-out 2s;
        -o-transition: all ease-in-out 2s;
        transition: all ease-in-out 2s;
        background: #003459;
        color:white;
        }  
    .about-us div:last-child{
        -webkit-transform: translate(0,-20%);
            -ms-transform: translate(0,-20%);
                transform: translate(0,-20%);
        -webkit-transition: all ease-in-out 2s;
        -o-transition: all ease-in-out 2s;
        transition: all ease-in-out 2s;
        padding: 0;
        z-index: 1;
        background: white;
        color: #003459;
    }
    #title-div h1{
        font-size: xx-large;
    }
}