/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/



body{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    padding:0;
    margin:0;
}
.nav{
    position: static;
    width: 100%;
}
.menu{
    display: none;
    list-style: none;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    position: absolute;
    right:5%;
    }
.menu a{
    text-decoration: none;
    margin-right:1vw;
}
#nav-btn-checkbox{
    display: none;

}

#abstract-logo{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    justify-self: center;
    padding: 0;
    margin: 0;
}

#huge-logo{
    background:url(../img/logo.SVG);
    height: 58vh;
    width: 30vw;
    background-size: contain;
    background-repeat: no-repeat;
}

.contact-us{
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 50% 50%;
    grid-template-columns: 50% 50%;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
    margin-bottom: 5vh;
    margin-top: 1%;
}
.contact-us p{
    width: 60%;
}
.contact-us > *:nth-child(1){
    -ms-grid-row: 1;
    -ms-grid-column: 1;
}

.contact-us > *:nth-child(2){
    -ms-grid-row: 1;
    -ms-grid-column: 2;
}

.title{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: #003459;
    -webkit-transform: translate(20%,0);
        -ms-transform: translate(20%,0);
            transform: translate(20%,0);
    -webkit-transition: all ease-in-out 0.8s;
    -o-transition: all ease-in-out 0.8s;
    transition: all ease-in-out 0.8s;
}
.title div{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
}
.title .a{
    all:unset;
    text-decoration: none;
}
.title button{
    display: block;
    font-size: large;
    background: #003459;
    color:white;
    height:50px;
    width: 160px;
    border: none;
    border-radius: 4px;
    margin-left:2%;
    margin-right:2%;

}
.title button:last-child{
    display: block;
    font-size: large;
    background: white;
    color:#003459;
    border: 2px solid #003459;
    height:50px;
    width: 160px;
    border-radius: 4px;
    margin-left:2%;
    margin-right:2%;

}
.title button:first-child{
    border: none;   
}

.contact-info{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #003459;
    color: #ffffff;
    -webkit-transform: translate(-20%,0);
        -ms-transform: translate(-20%,0);
            transform: translate(-20%,0);
    -webkit-transition: all ease-in-out 1s;
    -o-transition: all ease-in-out 1s;
    transition: all ease-in-out 1s;
}
.req-call{

    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: fixed;
    background: #ffffff;
    color:#003459;
    border: 2px solid #003459;
    border-radius: 5px;
    left:25%;
    right:25%;
    width: 50%;
    top:10%;    
    bottom:10%;

}

.req-call h1{
    font-size: xx-large;
}
form{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    color:#003459;
}
form label{
    font-size: larger;
}
form input{
    height: 40px;
    width: 100%;
    margin: 5%;
}
#submit-btn{
    display: block;
    background: #003459;
    border: 1px solid #003459;
    border-radius:5px;
    color: #ffffff;
    font-size: larger;
}
#back-btn-container{
    display: block;
    height:5vh;
    width:40px;
    position: absolute;
    right:5%;
    top:5%;
}

#back-btn{
    position: relative;
    display: block;
    height: 1vh;
    top:2vh;
    width:40px;
    background: #003459;
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    -webkit-transition: all ease-in-out 1s;
    -o-transition: all ease-in-out 1s;
    transition: all ease-in-out 1s;
}
#back-btn:before{
    display: block;
    height: 100%;
    width:100%;
    position: relative;
    background: inherit;
    content: '';
    -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
            transform: rotate(90deg);
    -webkit-transition: all ease-in-out 1s;
    -o-transition: all ease-in-out 1s;
    transition: all ease-in-out 1s;
}
.footer{
    display: block;
    text-align: center;
    width: 98%;
    padding-left: 1%;
    padding-right: 1%;
    color:#ffffff;
    background: #003459;
}
.footer p{
    font-size: small;
}
@media (max-width:720px){

    .contact-us{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        margin-bottom: 5vh;
    }

    .contact-info{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;

        background-color: #003459;
        background: url(../img/bg1.JPG);
        background-size: cover;
        -webkit-box-shadow: 3px 3px 0 0 rgba(0,0,0,0.4);
                box-shadow: 3px 3px 0 0 rgba(0,0,0,0.4);
        color: #ffffff;
        padding: 5%;
        margin: 2%;
        margin-top: 5%;
    }
    .contact-info p{
        text-decoration: none;
    }
    .req-call{
        all:unset;
        display: none;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
        position: fixed;
        background:#ffffff;
        width: 100%;
        height:-webkit-max-content;
        height:-moz-max-content;
        height:max-content; 
    }  
    #huge-logo{
        background:url(../img/logo.SVG);
        height: 28vh;
        width: 30vw;
        background-size: contain;
        background-repeat: no-repeat;
    }     
    .contact-us p{
        width: 80%;
    }
}